building.json
[
    {
        "id": "3dda97fe.57f4b8",
        "type": "tab",
        "label": "Building",
        "disabled": false,
        "info": ""
    },
    {
        "id": "186cf421.eb20bc",
        "type": "group",
        "z": "3dda97fe.57f4b8",
        "name": "",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "9d041c6a.518f7",
            "c7bc3788.bd4de8",
            "4a4b8426.d0149c",
            "cd7688a7.d7a3b8",
            "bb8cfdc6.a20dc",
            "d5fe9d46.33a84"
        ],
        "x": 34,
        "y": 79,
        "w": 272,
        "h": 322
    },
    {
        "id": "22fe6ce5.9756f4",
        "type": "group",
        "z": "3dda97fe.57f4b8",
        "name": "floors",
        "style": {
            "fill": "#b797cf",
            "label": true,
            "stroke": "#a4a4a4",
            "color": "#777777"
        },
        "nodes": [
            "59eabe06.354b4",
            "aff9a035.dcc25",
            "f680f931.eedc78",
            "fdf9cca7.34a99"
        ],
        "x": 114,
        "y": 459,
        "w": 212,
        "h": 202
    },
    {
        "id": "2a135a68.945e66",
        "type": "group",
        "z": "3dda97fe.57f4b8",
        "name": "",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "f4ea48.144a75b8",
            "f0fd5739.48bb68",
            "6c955736.55e998"
        ],
        "x": 354,
        "y": 139,
        "w": 152,
        "h": 202
    },
    {
        "id": "3b32028f.c5cafe",
        "type": "group",
        "z": "3dda97fe.57f4b8",
        "name": "payload",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "color": "#777777"
        },
        "nodes": [
            "5b735403.6ac4cc",
            "105be13c.47cd0f",
            "9efaaf28.d8041",
            "95d49463.259c68"
        ],
        "x": 554,
        "y": 139,
        "w": 552,
        "h": 122
    },
    {
        "id": "3e36c819.54c7f8",
        "type": "group",
        "z": "3dda97fe.57f4b8",
        "name": "message",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "fill": "#ffff7f",
            "color": "#777777"
        },
        "nodes": [
            "ecd5196a.d6d948",
            "b70de91.ad1c018",
            "1f349ddf.ebcdd2"
        ],
        "x": 334,
        "y": 499,
        "w": 272,
        "h": 122
    },
    {
        "id": "97c5c963.a80728",
        "type": "group",
        "z": "3dda97fe.57f4b8",
        "name": "protocols",
        "style": {
            "fill": "#c8e7a7",
            "label": true,
            "color": "#777777"
        },
        "nodes": [
            "fd6286c2.182ef8",
            "c4ec9193.21a0a",
            "5bc3e79.5eaf718",
            "1fd4bdb7.64c9f2"
        ],
        "x": 654,
        "y": 439,
        "w": 372,
        "h": 242
    },
    {
        "id": "9d041c6a.518f7",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "g": "186cf421.eb20bc",
        "name": "temperature",
        "props": [
            {
                "p": "basename",
                "v": "temperature",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "deltaTime",
                "v": "0.1",
                "vt": "num"
            },
            {
                "p": "count",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "min",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "max",
                "v": "40",
                "vt": "num"
            },
            {
                "p": "offLimitsProb",
                "v": "0.1",
                "vt": "str"
            },
            {
                "p": "unit",
                "v": "Celsius",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "f4ea48.144a75b8"
            ]
        ]
    },
    {
        "id": "9efaaf28.d8041",
        "type": "function",
        "z": "3dda97fe.57f4b8",
        "g": "3b32028f.c5cafe",
        "name": "compute_float",
        "func": "for (var i = 0; i < msg.count; i++) {\n    var offLimits = Math.random() < msg.offLimitsProb;\n    var range = msg.max - msg.min;\n    var val = msg.min + range * Math.random();\n    if (offLimits) {\n        var sign = Math.random() > 0.5 ? 1 : -1;\n        val = sign * range * Math.random() * msg.offLimitsProb;\n        if (sign < 0) val += msg.min;\n        else val += msg.max;\n    }\n    msg.payload[i] = val;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 180,
        "wires": [
            [
                "5b735403.6ac4cc"
            ]
        ]
    },
    {
        "id": "c7bc3788.bd4de8",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "g": "186cf421.eb20bc",
        "name": "humidity",
        "props": [
            {
                "p": "basename",
                "v": "humidity",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "count",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "deltaTime",
                "v": "0.5",
                "vt": "num"
            },
            {
                "p": "min",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "max",
                "v": "70",
                "vt": "num"
            },
            {
                "p": "offLimitsProb",
                "v": "0.2",
                "vt": "str"
            },
            {
                "p": "unit",
                "v": "percentage",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4a4b8426.d0149c",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "g": "186cf421.eb20bc",
        "name": "rooms occupancy",
        "props": [
            {
                "p": "basename",
                "v": "occupancy",
                "vt": "str"
            },
            {
                "p": "count",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "deltaTime",
                "v": "0.3",
                "vt": "num"
            },
            {
                "p": "payload"
            },
            {
                "p": "trueProb",
                "v": "0.7",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "f0fd5739.48bb68"
            ]
        ]
    },
    {
        "id": "105be13c.47cd0f",
        "type": "function",
        "z": "3dda97fe.57f4b8",
        "g": "3b32028f.c5cafe",
        "name": "compute_bool",
        "func": "for (var i = 0; i < msg.count; i++) {\n    msg.payload[i] = Math.random() < msg.trueProb ? true : false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "5b735403.6ac4cc"
            ]
        ]
    },
    {
        "id": "5b735403.6ac4cc",
        "type": "function",
        "z": "3dda97fe.57f4b8",
        "g": "3b32028f.c5cafe",
        "name": "create_payload",
        "func": "for (var i = 0; i < msg.count; i++) {\n    payload = {\n        \"bn\": msg.basename,\n        \"n\": `${i+1}`, \n        \"u\": msg.unit,\n        \"t\": new Date().getTime() / 1000 + msg.deltaTime * i,\n    };\n    \n    var msgPayload = msg.payload[i]\n    switch(typeof(msgPayload)) {\n        case \"number\":\n            payload[\"v\"] = msgPayload;\n            break;    \n        case \"boolean\": \n            payload[\"vb\"] = msgPayload;\n            break;\n        case \"string\":\n            payload[\"vs\"] = msgPayload;\n            break;\n        default:\n            payload[\"v\"] = msgPayload;\n    }\n    \n    msg.payload[i] = payload;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "59eabe06.354b4",
                "aff9a035.dcc25",
                "f680f931.eedc78"
            ]
        ]
    },
    {
        "id": "5e5c97.ed39f368",
        "type": "debug",
        "z": "3dda97fe.57f4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 740,
        "wires": []
    },
    {
        "id": "59eabe06.354b4",
        "type": "change",
        "z": "3dda97fe.57f4b8",
        "g": "22fe6ce5.9756f4",
        "name": "floor_1",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "MF_FLOOR_1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "ecd5196a.d6d948"
            ]
        ]
    },
    {
        "id": "ecd5196a.d6d948",
        "type": "function",
        "z": "3dda97fe.57f4b8",
        "g": "3e36c819.54c7f8",
        "name": "topic",
        "func": "msgs = [];\nmsg.payload.forEach(function(payload) {\n    var message = {};\n    msgs.push(message);\n    message.payload = [payload];\n    message.protocol = msg.protocol;\n    \n    var subtopic = `/room${payload.n}/${msg.basename}`;\n    \n    // mqtt\n    var topic = \"channels/\" + msg.channel + \"/messages\";\n    topic += subtopic;\n    if (msg.protocol == \"mqtt\") {\n        message.topic = topic;\n        return;\n    }\n    \n    var url = flow.get(\"MF_URL\");\n    \n    // http & coap\n    var addPrefix = msg.protocol == \"http\" ?\n        `https://${url}/http/` : `coap://${url}/`;\n    var addrSuffix = `channels/${msg.channel}/messages`;\n    message.url = addPrefix + addrSuffix + subtopic;\n    \n    if (msg.protocol == \"http\") {\n        message.headers = headers;\n    } else if (msg.protocol == \"coap\") {\n        message.url += coapAuth;\n    }\n    \n})\n\n\nreturn [msgs];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nheaders = {\n    \"Authorization\": flow.get(\"MF_HTTP\")\n};\ncoapAuth = `?auth=${flow.get(\"MF_COAP\")}`;",
        "finalize": "",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "b70de91.ad1c018"
            ]
        ]
    },
    {
        "id": "aff9a035.dcc25",
        "type": "change",
        "z": "3dda97fe.57f4b8",
        "g": "22fe6ce5.9756f4",
        "name": "floor_2",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "MF_FLOOR_2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "ecd5196a.d6d948"
            ]
        ]
    },
    {
        "id": "b70de91.ad1c018",
        "type": "json",
        "z": "3dda97fe.57f4b8",
        "g": "3e36c819.54c7f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "5e5c97.ed39f368",
                "fd6286c2.182ef8"
            ]
        ]
    },
    {
        "id": "95d49463.259c68",
        "type": "function",
        "z": "3dda97fe.57f4b8",
        "g": "3b32028f.c5cafe",
        "name": "route_msg",
        "func": "msg.count = msg.count || 1;\nmsg.deltaTime = msg.deltaTime || 0;\n\n// https://nodered.org/docs/user-guide/writing-functions#multiple-outputs\nvar msgArray = [null, null]; // outputs\nswitch(typeof(msg.payload)) {\n    case \"number\":\n        msgArray[0] = msg; // send to output 1\n        break;\n    case \"boolean\":\n        msgArray[1] = msg; // send to output 2\n        break;\n    default:\n        msgArray[0] = msg;\n        break;    \n}\n\nmsg.payload = [] // SenML array;\n\nreturn msgArray;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "9efaaf28.d8041"
            ],
            [
                "105be13c.47cd0f"
            ]
        ]
    },
    {
        "id": "cd7688a7.d7a3b8",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "g": "186cf421.eb20bc",
        "name": "aerosol",
        "props": [
            {
                "p": "basename",
                "v": "aerosol",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "count",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "deltaTime",
                "v": "0.5",
                "vt": "num"
            },
            {
                "p": "min",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "max",
                "v": "35",
                "vt": "num"
            },
            {
                "p": "offLimitsProb",
                "v": "0.2",
                "vt": "str"
            },
            {
                "p": "unit",
                "v": "μg/m",
                "vt": "str"
            }
        ],
        "repeat": "45",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bb8cfdc6.a20dc",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "g": "186cf421.eb20bc",
        "name": "doors open/close",
        "props": [
            {
                "p": "basename",
                "v": "door",
                "vt": "str"
            },
            {
                "p": "count",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "deltaTime",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload"
            },
            {
                "p": "trueProb",
                "v": "0.3",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d5fe9d46.33a84",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "g": "186cf421.eb20bc",
        "name": "windows open/close",
        "props": [
            {
                "p": "basename",
                "v": "window",
                "vt": "str"
            },
            {
                "p": "count",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "deltaTime",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload"
            },
            {
                "p": "trueProb",
                "v": "0.2",
                "vt": "str"
            }
        ],
        "repeat": "8",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f680f931.eedc78",
        "type": "change",
        "z": "3dda97fe.57f4b8",
        "g": "22fe6ce5.9756f4",
        "name": "floor_3",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "MF_FLOOR_3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "ecd5196a.d6d948"
            ]
        ]
    },
    {
        "id": "f4ea48.144a75b8",
        "type": "change",
        "z": "3dda97fe.57f4b8",
        "g": "2a135a68.945e66",
        "name": "mqtt",
        "rules": [
            {
                "t": "set",
                "p": "protocol",
                "pt": "msg",
                "to": "mqtt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "95d49463.259c68"
            ]
        ]
    },
    {
        "id": "f0fd5739.48bb68",
        "type": "change",
        "z": "3dda97fe.57f4b8",
        "g": "2a135a68.945e66",
        "name": "http",
        "rules": [
            {
                "t": "set",
                "p": "protocol",
                "pt": "msg",
                "to": "http",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "95d49463.259c68"
            ]
        ]
    },
    {
        "id": "fd6286c2.182ef8",
        "type": "switch",
        "z": "3dda97fe.57f4b8",
        "g": "97c5c963.a80728",
        "name": "protocol",
        "property": "protocol",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "http",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mqtt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "coap",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "5bc3e79.5eaf718"
            ],
            [
                "c4ec9193.21a0a"
            ],
            [
                "1fd4bdb7.64c9f2"
            ]
        ]
    },
    {
        "id": "c4ec9193.21a0a",
        "type": "mqtt out",
        "z": "3dda97fe.57f4b8",
        "g": "97c5c963.a80728",
        "name": "building",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "17232ecb.f77f81",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "5bc3e79.5eaf718",
        "type": "http request",
        "z": "3dda97fe.57f4b8",
        "g": "97c5c963.a80728",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "6b916c83.65f024",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 930,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd4bdb7.64c9f2",
        "type": "coap request",
        "z": "3dda97fe.57f4b8",
        "g": "97c5c963.a80728",
        "method": "POST",
        "observe": false,
        "url": "",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "coap",
        "x": 910,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6c955736.55e998",
        "type": "change",
        "z": "3dda97fe.57f4b8",
        "g": "2a135a68.945e66",
        "name": "coap",
        "rules": [
            {
                "t": "set",
                "p": "protocol",
                "pt": "msg",
                "to": "coap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "71b47770.39fbc8",
        "type": "inject",
        "z": "3dda97fe.57f4b8",
        "name": "flow.set trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "ff790d17.a6228"
            ]
        ]
    },
    {
        "id": "ff790d17.a6228",
        "type": "function",
        "z": "3dda97fe.57f4b8",
        "name": "flow.set",
        "func": "// channel ids\nflow.set(\"MF_FLOOR_1\", \"cad4eb8e-0a7d-4200-8fa0-8ad98229d800\");\nflow.set(\"MF_FLOOR_2\", \"b7dd4e4a-0da9-47e1-8fbd-d6009eeadb2d\");\nflow.set(\"MF_FLOOR_3\", \"5bb40a7d-f13f-4eea-bf8c-1dea19e2c30c\");\n\n// http thing key\nflow.set(\"MF_HTTP\", \"8eea9660-461d-4085-9234-56ade72391f7\"); \n\n// mqtt thing id & key\n// flow.set(\"MF_MQTT_USR\", \"761bec6a-0252-49f8-8ea7-2ddfd4bcc5c0\");\n// flow.set(\"MF_MQTT_PASS\", \"2eb8f7c2-5931-4f6c-833c-a160869a994f\");\n\n// coap thing key\nflow.set(\"MF_COAP\", \"\");\n\nflow.set(\"MF_URL\", \"demo.mainflux.com\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fdf9cca7.34a99",
        "type": "comment",
        "z": "3dda97fe.57f4b8",
        "g": "22fe6ce5.9756f4",
        "name": "floor_n flow.get",
        "info": "",
        "x": 220,
        "y": 620,
        "wires": []
    },
    {
        "id": "1f349ddf.ebcdd2",
        "type": "comment",
        "z": "3dda97fe.57f4b8",
        "g": "3e36c819.54c7f8",
        "name": "url & http/coap flow.get",
        "info": "",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "d8fafb7.5b4c008",
        "type": "comment",
        "z": "3dda97fe.57f4b8",
        "name": "mqtt credentials",
        "info": "## http\nGenerate certificates in bash. Set certificates in node-red.\n\n## mqtt\nSet username and password fields with Mainflux thing key and id representing mqtt publisher.",
        "x": 1120,
        "y": 480,
        "wires": []
    },
    {
        "id": "17232ecb.f77f81",
        "type": "mqtt-broker",
        "z": "",
        "name": "building",
        "broker": "demo.mainflux.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6b916c83.65f024",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "thing.crt",
        "keyname": "thing.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]